{{ define "main" }}

<section class="content">
	{{ .Content }}

	<script type="text/javascript" src="https://cfp.bsidestlv.com/bsidestlv-2022/schedule/widget/v2.en.js"></script>
	<pretalx-schedule event-url="https://cfp.bsidestlv.com/bsidestlv-2022/" locale="en"
		style="--pretalx-clr-primary: #3aa57c">
	</pretalx-schedule>
	<noscript>
		<div class="pretalx-widget">
			<div class="pretalx-widget-info-message">
				JavaScript is disabled in your browser. To access our schedule without JavaScript,
				please <a target="_blank" href="https://cfp.bsidestlv.com/bsidestlv-2022/schedule/">click here</a>.
			</div>
		</div>
	</noscript>
</section>

{{ end }}