{{ define "main" }}

<section class="content">
	{{ .Content }}
</section>

<section class="col-lg-offset-3 col-lg-6 zebra">
	<div class="row thead">
		<div class="col-xs-4 col-sm-3 col-md-2">
			<h1>Time</h1>
			<h1 class="visible-xs">/Speaker</h1>
		</div>
		<div class="col-xs-4 col-sm-3 col-md-4 hidden-xs">
			<h1>Speaker</h1>
		</div>
		<div class="col-xs-8 col-sm-6 col-md">
			<h1>Session</h1>
		</div>
	</div>
	{{ range sort .Pages ".Date" }}
	<div class="row tbody">
		<div class="col-xs-12 col-sm-3 col-md-2">
			{{ dateFormat "03:04" .Params.Start }}-{{ dateFormat "03:04 PM" .Params.End }}
		</div>
		<div class="col-xs-4  col-sm-3 col-md-4">
			{{ range .Params.Speakers }}
			{{ with site.GetPage path.Join "/speakers" . }}
			<a href={{ .URL }}>{{ .Params.Name }}</a>
			{{ end }}
			{{ end }}
		</div>
		<div class="col-xs-8 col-sm"><a href={{ .URL }}>{{ .Title }}</a></div>
	</div>
	{{ end }}
	</div>
</section>

{{ end }}