{{ define "main" }}

<section class="content">
  {{ .Content }}
</section>

<div id="twitch" style="--aspect-ratio:16/9; max-width: 1080px; margin: 0px auto;"></div>

<div class="grid">
  <div class="item">
    <div id="slack" style="text-align: center;">
      <h2><a href="https://join.slack.com/t/bsidestlv/shared_invite/zt-ezz7de5w-zKO_PyubEBs2_UDIssDw8A"><u>Join the lobbycon on BSidesTLV Slack!</u></a></h2>
      <div id="mirror" style="text-align: left;"></div>
    </div>
  </div>
  <div class="item">
    <h2 style="text-align: center;">Thanks to our amazing sponsors!</h2>
    <section class="partners">
      {{ $site := .Site }}
      {{ range (split ("titanium,platinum,gold") ",") }}
      <section class="partners-group partner-{{ . }}">
        <h3 class="fancy">
          <span>{{ . }}</span>
        </h3>
        <ul>
          {{ $partners := where $site.AllPages "Params.category" . }}
          {{ range sort $partners ".Params.order" "asc" }}
          <li>{{ partial "partner.html" . }}</li>
          {{ end }}
        </ul>
      </section>
      {{ end }}
    </section>
  </div>
</div>

<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js" integrity="sha256-5oApc/wMda1ntIEK4qoWJ4YItnV4fBHMwywunj8gPqc=" crossorigin="anonymous"></script>
<script src= "https://player.twitch.tv/js/embed/v1.js"></script>
<script type="text/javascript" charset="utf-8">
  var options = {
    channel: "bsidestlv",
  };
  var player = new Twitch.Player("twitch", options);
  player.setVolume(0.5);

  $(document).ready(function() {
    api = '//bsidestlv-slackmirror.herokuapp.com'

    const fMsg = (msg) => {
      return `<div class="slack-message">
      <img class="avatar" src="${msg.image_48}" aria-hidden="true" title="">
      <div class="content">
      <strong class="username">${msg.user}</strong>
      <small class="timestamp">${moment.unix(msg.ts).calendar()}</small>
      <div class="message">${msg.text}</div>
      </div>
      </div>`
    }

    var socket = io(api);
    $.get(api + '/log', data => data.forEach( msg => $('#mirror').append(fMsg(msg))));
    socket.on('msg', msg => $('#mirror').append(fMsg(msg)));
    window.setInterval(function() {
      var elem = document.getElementById('mirror');
      elem.scrollTop = elem.scrollHeight;
    }, 1000);
  });
</script>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
<style type="text/css">

  @font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
  }

  div#main {
    font-family: 'Lato';
  }

  .slack-message {
    display: block;
    clear: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow-x: hidden;
    font-family: 'Lato';
  }

  .slack-message .avatar {
    float: left;
  }

  .slack-message .content {
    display: block;
    margin-left: 60px;
  }

  .slack-message .username {
    font-weight: 900;
  }

  .slack-message .readmore {
    display: block;
    margin-bottom: 10px;
  }

  .slack-message .timestamp {
    color: #888;
  }

  .slack-message .message {
    color: #000;
    word-wrap: break-word;
    white-space: pre-line;
  }

  .reaction {
    display: inline-block;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 10px;
    font-size: 14px;
    padding: 0px 8px 3px 8px;
    margin-top: 0.5em;
  }

  .reaction + .reaction {
    margin-left: 0.5em;
  }

  .reaction i {
    position: relative;
    top: 1px;
    font-style: normal;
    margin-right: 0.1em;
  }

  img.emoji {
    width: 18px;
    height: 18px;
  }

  .slack-message .document {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;;
    padding: 0 10px;
    margin-top: 10px;
  }

  .slack-message .document h2 {
    font-size: 16px;
  }

  .slack-message document {
    display: block;
  }

  .slack-message hr {
    border: none;
    border-top: 1px solid #ccc;
  }

  .slack-message a {
    color: #08c;
    text-decoration: none;
  }

  .slack-message a:visited {
    color: #0576b9;
  }

  .slack-message a:hover {
    text-decoration: underline;
  }

  #slack {
    display: inline-block;
    width: 30em;
    height: 100%;
    max-height: 100%;
    vertical-align: top;
    overflow: hidden;
  }
  #mirror {
    vertical-align: top;
    height: 40%;
    max-height: 600px;
    overflow-y: scroll;
  }   

  [style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img { 
    height: auto;
  }
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    } 
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    } 
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    list-style: none;
  }

  .grid>.item {
    padding: 12px;
  }
</style>


{{ end }}

