:root {
  --partner-support-height: 80px;
  --partner-font-size-venue: 1.5rem;
  --partner-font-size-titanium: 1.75rem;
  --partner-font-size-platinum: 1.5rem;
  --partner-font-size-gold: 1.33rem;
  --partner-font-size-silver: 1rem;
  --partner-venue-height: calc(var(--partner-support-height) * 3);
  --partner-titanium-height: calc(var(--partner-support-height) * 2.5);
  --partner-platinum-height: calc(var(--partner-support-height) * 2);
  --partner-gold-height: calc(var(--partner-support-height) * 1.5);
  --partner-silver-height: calc(var(--partner-support-height) * 1);
  --partner-venue-height: calc(var(--partner-support-height) * 4);

}
.partners-group.partner-venue ul li {
  height: var(--partner-venue-height);
  flex-basis: 420px;
}

.partners-group.partner-venue ul li {
  height: var(--partner-venue-height);
  flex-basis: 620px;
}

.partners-group.partner-titanium ul li {
  height: var(--partner-titanium-height);
  flex-basis: 520px;
}

.partners-group.partner-platinum ul li {
  height: var(--partner-platinum-height);
  flex-basis: 420px;
}

.partners-group.partner-gold ul li {
  height: var(--partner-gold-height);
  flex-basis: 320px;
}

.partners-group.partner-silver ul li {
  height: var(--partner-silver-height);
  flex-basis: 200px;
}

.partners-group.partner-venue .fancy {
  font-size: var(--partner-font-size-venue);
  color: var(--color-venue);

  span:before, span:after {
    border-bottom: 2px solid currentColor;
    border-top: 2px solid currentColor;
  }
}

.partners-group.partner-titanium .fancy {
  font-size: var(--partner-font-size-titanium);
  color: var(--color-titanium);

  span:before, span:after {
    border-bottom: 2px solid currentColor;
    border-top: 2px solid currentColor;
  }
}

.partners-group.partner-platinum .fancy {
  font-size: var(--partner-font-size-platinum);
  color: var(--color-platinum);

  span:before, span:after {
    border-bottom: 1px solid currentColor;
    border-top: 1px solid currentColor;
  }
}

.partners-group.partner-gold .fancy {
  font-size: var(--partner-font-size-gold);
  color: var(--color-gold);

  span:before, span:after {
    top: 20%;
    border-bottom: 1px solid currentColor;
  }
}

.partners-group.partner-silver .fancy {
  font-size: var(--partner-font-size-silver);
  color: var(--color-silver);
}


// Fix description location as map is now iframe and not img
.home main {
  .location {
    .description {
      right: 4rem;
    }
  }
}
