.jumbo .jumbo-cover {
  background-image: url("/images/backgrounds/back-0.webp");
  /* Scale width to 100% and height auto */
  background-size: 100% auto;
  /* Prevent tiling */
  background-repeat: no-repeat;
  /* Center it horizontally */
  background-position-x: center;
  background-position-y: 10vh;

  @include mq($until: sm) {
    background-image: url("/images/backgrounds/back-0-540.webp");
  }

  @include mq($until: md) {
    background-image: url("/images/backgrounds/back-0-720.webp");
  }

  @include mq($until: lg) {
    background-image: url("/images/backgrounds/back-0-960.webp");
  }

  @include mq($until: xl) {
    background-image: url("/images/backgrounds/back-0-1140.webp");
  }
}

.no-webp .jumbo .jumbo-cover {
  background-image: url("/images/backgrounds/bsidestlv2025-new-date-banner.png");

  @include mq($until: sm) {
    background-image: url("/images/backgrounds/back-0-540.jpg");
  }

  @include mq($until: md) {
    background-image: url("/images/backgrounds/back-0-720.jpg");
  }

  @include mq($until: lg) {
    background-image: url("/images/backgrounds/back-0-960.jpg");
  }

  @include mq($until: xl) {
    background-image: url("/images/backgrounds/back-0-1140.jpg");
  }
}

.jumbo .inner p {
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: var(--space-3);
  text-shadow: 0 1px rgba(0, 0, 0, .5);
  box-shadow: 0 0 var(--space-3) rgba(0, 0, 0, .125);
}

.jumbo-cover::after {
  background-color: var(--primary-txt) !important;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: var(--jumbo-overlay-opacity);
}