
.konfetti {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: dense;

  .logo {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > * {
      border-radius: 20%;
    }
  }

  .app, .store {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .app {
    grid-row: 1 / -1;

    position: relative;
    border-radius: 1em;
    box-shadow: 0 0 0 .35em black;
    width: fit-content;
    justify-self: center;

    img {
      border-radius: inherit;
    }

    &::after {
      content: '';
      position: absolute;
      top: -.125em;
      left: 25%;
      width: 50%;
      height: .65em;
      background: black;
      border-bottom-left-radius: .25em;
      border-bottom-right-radius: .25em;
    }
  }

}
