:root {
  --partner-support-height: 180px;
  --partner-font-size-titanium: 2rem;
  --partner-font-size-platinum: 1.75rem;
  --partner-font-size-gold: 1.50rem;
  --partner-font-size-silver: 2rem;
  --partner-font-size-chillout: 1.75rem;
  --partner-font-size-bronze: 1rem;
  --partner-font-size-CTF: 1rem;
  --zoom-link-height: 110px;
  --partner-titanium-height: calc(var(--partner-support-height) * 2 + var(--zoom-link-height));
  --partner-platinum-height: calc(var(--partner-support-height) * 1.75 + var(--zoom-link-height));
  --partner-gold-height: calc(var(--partner-support-height) * 1.5 + var(--zoom-link-height));
  --partner-silver-height: calc(var(--partner-support-height) * 3 + var(--zoom-link-height));
  --partner-chillout-height: calc(var(--partner-support-height) * 2.25 + var(--zoom-link-height));
  --partner-bronze-height: calc(var(--partner-support-height) * 1.25 + var(--zoom-link-height));
  --partner-CTF-height: calc(var(--partner-support-height) * 1.15 + var(--zoom-link-height));
}

.partners-group {
  li {
    text-align: center;
  }

  ul li {
    justify-content: center;
    display: flex;
  }

  div {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  &.partner-titanium ul li {
    height: var(--partner-titanium-height);
    flex-basis: 700px;
  }

  &.partner-platinum ul li {
    height: var(--partner-platinum-height);
    flex-basis: 500px;
  }

  &.partner-partners ul li,
  &.partner-gold ul li {
    height: var(--partner-gold-height);
    flex-basis: 450px;
  }

  &.partner-silver ul li {
    height: var(--partner-silver-height);
    flex-basis: 700px;
  }

  &.partner-chillout ul li {
    height: var(--partner-chillout-height);
    flex-basis: 525px;
  }

  &.partner-bronze ul li {
    height: var(--partner-bronze-height);
    flex-basis: 350px;
  }

  &.partner-CTF ul li {
    height: var(--partner-CTF-height);
    flex-basis: 200px;
  }

  .fancy {

    span:before,
    span:after {
      top: 20%;
      border-bottom: 1px solid currentColor;
    }
  }

  &.partner-titanium .fancy {
    font-size: var(--partner-font-size-titanium);
    color: var(--color-titanium);

    span:before,
    span:after {
      border-bottom: 2px solid currentColor;
      border-top: 2px solid currentColor;
    }
  }

  &.partner-platinum .fancy {
    font-size: var(--partner-font-size-platinum);
    color: var(--color-platinum);

    span:before,
    span:after {
      border-bottom: 1px solid currentColor;
      border-top: 1px solid currentColor;
    }
  }

  &.partner-partners .fancy,
  &.partner-gold .fancy {
    font-size: var(--partner-font-size-gold);
    color: var(--color-gold);
  }

  &.partner-silver .fancy {
    font-size: var(--partner-font-size-silver);
    color: var(--color-silver);
  }

  &.partner-chillout .fancy {
    font-size: var(--partner-font-size-chillout);
    color: var(--color-chillout);
  }

  &.partner-bronze .fancy {
    font-size: var(--partner-font-size-bronze);
    color: var(--color-bronze);
  }

  .partner {
    background-color: inherit;
    box-shadow: none;
    transition: box-shadow var(--animation), background-color var(--animation);
  }

  .partner:hover {
    background-color: ghostwhite;
  }

  // Logo sizing by sponsor tier
  &.partner-platinum .partner img {
    max-width: 150% !important;
    max-height: 150% !important;
  }

  &.partner-gold .partner img {
    max-width: 140% !important;
    max-height: 140% !important;
  }

  &.partner-silver .partner img {
    max-width: 120% !important;
    max-height: 120% !important;
  }

  &.partner-chillout .partner img {
    max-width: 80% !important;
    max-height: 80% !important;
  }

  &.partner-bronze .partner img {
    max-width: 60% !important;
    max-height: 60% !important;
  }
}