:root {
  --partner-support-height: 90px;
  --partner-font-size-venue: 1.5rem;
  --partner-font-size-titanium: 1.75rem;
  --partner-font-size-platinum: 1.5rem;
  --partner-font-size-gold: 1.25rem;
  --partner-font-size-CTF: 1rem;
  --partner-venue-height: calc(var(--partner-support-height) * 2.25);
  --partner-titanium-height: calc(var(--partner-support-height) * 2);
  --partner-platinum-height: calc(var(--partner-support-height) * 1.5);
  --partner-gold-height: calc(var(--partner-support-height) * 1.25);
  --partner-CTF-height: calc(var(--partner-support-height) * 1.15);
}

.partners-group {
  &.partner-venue ul li {
    height: var(--partner-venue-height);
    flex-basis: 600px;
  }

  &.partner-titanium ul li {
    height: var(--partner-titanium-height);
    flex-basis: 500px;
  }

  &.partner-platinum ul li {
    height: var(--partner-platinum-height);
    flex-basis: 400px;
  }

  &.partner-gold ul li {
    height: var(--partner-gold-height);
    flex-basis: 300px;
  }

  &.partner-CTF ul li{
    height: var(--partner-CTF-height);
    flex-basis: 200px;
  }

  &.partner-venue .fancy {
    font-size: var(--partner-font-size-venue);
    color: var(--color-venue);

    span:before, span:after {
      border-bottom: 2px solid currentColor;
      border-top: 2px solid currentColor;
    }
  }

  &.partner-titanium .fancy {
    font-size: var(--partner-font-size-titanium);
    color: var(--color-titanium);

    span:before, span:after {
      border-bottom: 2px solid currentColor;
      border-top: 2px solid currentColor;
    }
  }

  &.partner-platinum .fancy {
    font-size: var(--partner-font-size-platinum);
    color: var(--color-platinum);

    span:before, span:after {
      border-bottom: 1px solid currentColor;
      border-top: 1px solid currentColor;
    }
  }

  &.partner-gold .fancy {
    font-size: var(--partner-font-size-gold);
    color: var(--color-gold);

    span:before, span:after {
      top: 20%;
      border-bottom: 1px solid currentColor;
    }
  }

  &.partner-CTF .fancy {
    font-size: var(--partner-font-size-CTF);
    color: var(--color-CTF);
  }

  .partner {
      background-color: inherit;
      box-shadow: none;
      transition: box-shadow var(--animation), background-color var(--animation);
  }

  .partner:hover {
      background-color: ghostwhite;
      box-shadow: var(--box-shadow-1);  
  }
}