@import "themes/devfest-theme-hugo-2020/src/styles/root";
@import "themes/devfest-theme-hugo-2020/src/styles/variables";
@import "node_modules/sass-mq/mq";

@import "themes/devfest-theme-hugo-2020/src/styles/partials/base";
@import "themes/devfest-theme-hugo-2020/src/styles/partials/main";
@import "themes/devfest-theme-hugo-2020/src/styles/partials/buttons";
@import "themes/devfest-theme-hugo-2020/src/styles/partials/icons";
@import "themes/devfest-theme-hugo-2020/src/styles/partials/header";
@import "themes/devfest-theme-hugo-2020/src/styles/partials/footer";
@import "themes/devfest-theme-hugo-2020/src/styles/partials/socials";

@import "themes/devfest-theme-hugo-2020/src/styles/partials/table_of_contents";
@import "themes/devfest-theme-hugo-2020/src/styles/partials/hero";

@import "themes/devfest-theme-hugo-2020/src/styles/pages/blog";

// Custom CSS
@import "page";
@import "bsidestlv";

#timercontainer {
	@include mq($until: md) {
		font-size: 16pt;
	}
	@include mq($from: md) {
		font-size: 28pt;
	}
	@include mq($from: lg) {
		font-size: 32pt;
	}
}
