@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Permanent+Marker&display=swap');

:root {
  --primary: #000;
  --primary-txt: #fff;

  --accent: #593a9f;
  --accent-txt: #fff;

  --color-hero: var(--base);

  --base: #FFF;
  --base-text: #424242;
  --base-secondary-text: #593a9f;
  --link-secondary-text: #593a9f;

  --partner-support-height: 90px;
  --partner-font-size-venue: 1.5rem;
  --partner-font-size-titanium: 1.75rem;
  --partner-font-size-platinum: 1.5rem;
  --partner-font-size-gold: 1.25rem;
  --partner-font-size-silver: 1rem;
  --partner-venue-height: calc(var(--partner-support-height) * 2.25);
  --partner-titanium-height: calc(var(--partner-support-height) * 2);
  --partner-platinum-height: calc(var(--partner-support-height) * 1.5);
  --partner-gold-height: calc(var(--partner-support-height) * 1.25);
  --partner-silver-height: calc(var(--partner-support-height) * 1);
}

// Dark theme
@media (prefers-color-scheme: dark) {
 :root {
    --base: #FFF;
    --base-text: #424242;
    --primary: #000;

    --toc-text: var(--primary);

    --color-hero: var(--base);

    --darken-1: rgba(0, 0, 0, .125);
    --darken-2: rgba(0, 0, 0, .25);
    --darken-3: rgba(0, 0, 0, .5);

    --lighten-1: hsla(0, 100%, 100%, .125);
    --lighten-2: hsla(0, 100%, 100%, .25);
    --lighten-3: hsla(0, 100%, 100%, .5);

    --footer-bg: #222;
    --footer-fg: #8a8a8a;
  }
}

a.btn.primary {
  font-family: 'Oswald', 'Roboto', sans-serif;
  background-color: var(--accent);
  color: var(--base) !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', 'Roboto', sans-serif;
  text-align: left !important;
}

body > header nav a {
  font-family: 'Oswald', 'Roboto', sans-serif;
  font-weight: 400;
}

section h1.fancy, h2.fancy, h3.fancy, h4.facny, h5.fancy, h6.fancy {
  text-align: center !important;
}

p {
  line-height: 1.4;
  text-align: left;
}

* {
  text-shadow: none !important;
}

.content a, .content a:visited {
    color: var(--accent);
}

a, a:visited {
  text-decoration: underline;
}

a.btn {
  font-weight: 600;
  padding: var(--space-4);
}