@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Permanent+Marker&display=swap");
@import "themes/devfest-theme-hugo-2020/src/styles/root";
@import "themes/devfest-theme-hugo-2020/src/styles/variables";
@import "node_modules/sass-mq/mq";

:root {
  --primary: #000;
  --primary-txt: #fff;

  --accent: #593a9f;
  --accent-txt: #fff;

  --color-hero: var(--base);
  --color-silver: #a9a9a9;

  --base: #fff;
  --base-text: #424242;
  --base-secondary-text: #593a9f;
  --link-secondary-text: #593a9f;

  --jumbo-overlay-opacity: 0.5;
}

// Dark theme
@media (prefers-color-scheme: dark) {
  :root {
    --base: #fff;
    --base-text: #424242;
    --primary: #000;

    --toc-text: var(--primary);

    --color-hero: var(--base);

    --darken-1: rgba(0, 0, 0, 0.125);
    --darken-2: rgba(0, 0, 0, 0.25);
    --darken-3: rgba(0, 0, 0, 0.5);

    --lighten-1: hsla(0, 100%, 100%, 0.125);
    --lighten-2: hsla(0, 100%, 100%, 0.25);
    --lighten-3: hsla(0, 100%, 100%, 0.5);

    --footer-bg: #222;
    --footer-fg: #8a8a8a;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", "Roboto", sans-serif;
  text-align: left !important;
}

body > header nav a {
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 400;
}

body > header nav li {
  opacity: 1;
}

section {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.fancy {
      text-align: center !important;
    }
  }
}

p {
  line-height: 1.4;
  text-align: left;
}

* {
  text-shadow: none !important;
}

.content a {
  &:visited {
    color: var(--accent);
  }
}

a,
a:visited {
  text-decoration: underline;
}

a.btn {
  font-weight: 600;
  padding: var(--space-4);
  margin: var(--space-3);

  &.primary {
    font-family: "Oswald", "Roboto", sans-serif;
    background-color: var(--accent);
    color: var(--base) !important;
    font-size: 1.5rem;

    .icon {
      --size: 1.25rem;
      margin: 5px;
    }
  }
}

main img {
  width: 100%;
}