@import "home";
@import "bsidestlv";

.jumbo .jumbo-logo {
    max-width: 400px !important;
    width: 400px !important;
    height: auto !important;
    margin-bottom: 0 !important;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3)) !important;
    
    @include mq($until: lg) {
        max-width: 320px !important;
        width: 320px !important;
    }
    
    @include mq($until: md) {
        max-width: 260px !important;
        width: 260px !important;
    }
    
    @include mq($until: sm) {
        max-width: 200px !important;
        width: 200px !important;
    }
}

#timercontainer {
	@include mq($until: md) {
		font-size: 16pt;
	}
	@include mq($from: md) {
		font-size: 28pt;
	}
	@include mq($from: lg) {
		font-size: 32pt;
	}
}

.message > .inner {
		@include mq($from: lg) {
			width: 100%;
		}	
}