@import "home";
@import "bsidestlv";

.jumbo-logo {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5)) hue-rotate(20deg) brightness(1.5) !important;
}

#timercontainer {
	@include mq($until: md) {
		font-size: 16pt;
	}
	@include mq($from: md) {
		font-size: 28pt;
	}
	@include mq($from: lg) {
		font-size: 32pt;
	}
}