{{ $title := .Get 1 }}
<div id="timercontainer">
  {{$title}}
  <b id="timer"></b>
</div>

<script>
var countDownDate = new Date("{{ .Get 0 }}").getTime();
var tick = function() {
  var now = new Date().getTime();

  var distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timercontainer").innerHTML = "";
  }
}
var x = setInterval(tick, 1000);
tick()
</script>

<style type="text/css">
  #timercontainer {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    color: #3367CD;
    background-color: #ccc;
  }
  #timer {
    background-color: none;
  }
</style>